<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1442, maximum-scale=1.0" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/reviews/list.css}" />
    <link th:href="@{/css/fragments/navbar.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/fragments/spinner.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleguide.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/globals.css}" />
</head>

<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="list" />
    <div class="container-center-horizontal">
        <div class="list screen">
            <div th:replace="~{fragments/navbar}"></div>

            <div class="x04-search-input">
                <img class="search" src="/img/search.svg" alt="search">
                <input type="text" class="label label-2 presetsbody2" style="border:none; width: 100%;"
                    placeholder="책 제목을 검색해보세요...">
            </div>

            <div class="group-11">
                <!-- 검색어 -->
                <input type="hidden" th:value="${title}">
                <div id="book-title" class="text-114 inter-semi-bold-black-24px">리뷰 목록</div>

                <div class="x04-dropdown">
                    <div class="label-1 label-2 presetsbody2">카테고리</div>
                    <img class="chevron-down" src="/img/chevron-down.svg" alt="chevron-down" />
                </div>
                <div class="segmented-control">
                    <div id="latest" class="item-1 item" style="cursor: pointer;">
                        <div class="text-1-1 valign-text-middle small-text">최신순</div>
                    </div>
                    <div id="popularity" class="item" style="cursor: pointer;">
                        <div class="text-1-1 valign-text-middle small-text">인기순</div>
                    </div>
                </div>
            </div>


            <div th:replace="~{fragments/spinner :: spinner}"></div>
            <div id="feed" class="feed">
                <!-- 리뷰 -->

                <!-- 에러 메시지 -->
                <div id="errorContainer" style="display:none;"></div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        let currentTitle = /*[[${title}]]*/ '';

        function fetchAndRenderReviews(title = '', author = '', sortBy = '') {
            let url = 'http://localhost:8080/api/reviews?';
            const params = new URLSearchParams();

            if (title) params.append('title', title);
            if (author) params.append('author', author);
            if (sortBy) params.append('sortBy', sortBy);

            url += params.toString();

            fetch(url)
                .then(response => {
                    if (!response.ok) {
                        if (response.status === 404) {
                            return response.json().then(json => {
                                const errorMessage = json.message;
                                console.error('서버에서 반환한 오류 메시지:', errorMessage);

                                setTimeout(() => {
                                    removeSpinner();
                                    displayErrorMessage(errorMessage);

                                }, 500);

                            });
                        }
                        throw new Error('서버에서 오류 응답을 받았습니다.');
                    }
                    return response.json();
                })
                .then((json) => {
                    const reviews = json.reviews;
                    const container = document.getElementById('feed');
                    container.innerHTML = '';

                    setTimeout(() => {
                        removeSpinner();
                        reviews.forEach(review => {
                            container.innerHTML += createReviewHTML(review);
                        });
                    }, 500);

                })
                .catch(error => {
                    console.error(error);
                });
        }

        function removeSpinner() {
            const spinner = document.getElementById('spinner');
            if (spinner) {
                spinner.style.display = 'none';
            }
        }

        // 오류 메시지를 화면에 출력하는 함수
        function displayErrorMessage(message) {
            const container = document.getElementById('errorContainer');
            container.innerHTML = `
        <div class="inter-normal-black-20px" style="margin-top:100px">
            ${message}
        </div>
    `;

            setTimeout(() => {
                container.style.display = 'block';
            }, 500);

        }

        function createReviewHTML(review) {
            return `
                        <div class="review">
                            <div class="top-5">
                                <img class="image rectangle-1" src="/img/rectangle-1.png" alt="Image" />
                                <div class="container">
                                    <div class="name-5">
                                        <div class="book-title first-last manrope-semi-bold-mirage-16px">${review.title}</div>
                                        <div class="username manrope-normal-storm-gray-14px">${review.author}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-1">
                                <div class="paragraph-5">
                                    <p class="text-3 manrope-normal-mirage-16px">${review.content}</p>
                                    <div class="dropdown">
                                        <div class="text-4 manrope-semi-bold-mirage-14px">더보기</div>
                                        <img class="icons-6" src="/img/icons.svg" alt="Icons" />
                                    </div>
                                </div>
                                <div class="date manrope-normal-storm-gray-12px">${review.date}</div>
                            </div>
                            <div class="icons">
                                <div class="frame-2610462">
                                    <img class="heart-5" src="/img/heart-3.svg" alt="heart" />
                                    <div class="address-5 small-text">${review.likes} 좋아요</div>
                                </div>
                            </div>
                            <div class="divider"></div>
                        </div>
                    `;
        }

        document.addEventListener("DOMContentLoaded", () => {

            fetchAndRenderReviews(currentTitle, '', '');

            // '인기순' div 클릭 시 리뷰 다시 로드
            const popularityDiv = document.getElementById('popularity');
            popularityDiv.addEventListener('click', () => fetchAndRenderReviews(currentTitle, '', 'popularity'));

            // '최신순' div 클릭 시 리뷰 다시 로드
            const latestDiv = document.getElementById('latest');
            latestDiv.addEventListener('click', () => fetchAndRenderReviews(currentTitle, '', ''));

            // 검색 입력 필드와 관련된 이벤트 설정
            const inputField = document.querySelector('.x04-search-input input');

            inputField.addEventListener('keypress', function (event) {
                var inputValue = inputField.value;
                if (!/^[a-zA-Z0-9가-힣\s]*$/.test(inputValue + event.key)) {
                    event.preventDefault();
                }
            });

            inputField.addEventListener('input', function (event) {
                var inputValue = inputField.value;
                inputField.value = inputValue.replace(/[^\w\sㄱ-ㅎㅏ-ㅣ가-힣]/g, '');
            });

            inputField.addEventListener('keypress', function (event) {
                if (event.key === 'Enter') {
                    var inputValue = inputField.value;
                    if (inputValue.trim() !== '') {
                        console.log(inputValue);
                        currentTitle = inputValue;

                        fetchAndRenderReviews(currentTitle, '', '');
                    }
                }
            });
        });
    </script>
</body>

</html>