<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1442, maximum-scale=1.0" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/reviews/list.css}" />
    <link th:href="@{/css/fragments/navbar.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/fragments/spinner.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleguide.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/globals.css}" />
    <script th:src="@{/js/pagination.js}" defer></script>
    <script th:src="@{/js/reviews-list.js}" defer></script>

</head>

<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="list" />
    <div class="container-center-horizontal">
        <div class="list screen">
            <div th:replace="~{fragments/navbar}"></div>

            <!-- 검색 입력 필드 -->
            <div class="x04-search-input">
                <img class="search" src="/img/search.svg" alt="search">
                <input type="text" class="label label-2 presetsbody2" style="border:none; width: 100%;"
                    placeholder="책 제목을 검색해보세요...">
            </div>

            <div class="group-11">
                <!-- 검색어 -->
                <input type="hidden" id="currentTitle" th:value="${title}">
                <input type="hidden" id="userId" th:value="${session.id}">

                <div id="book-title" class="text-114 inter-semi-bold-black-24px">리뷰 목록</div>

                <div class="x04-dropdown">
                    <div class="label-1 label-2 presetsbody2">카테고리</div>
                    <img class="chevron-down" src="/img/chevron-down.svg" alt="chevron-down" />
                </div>
                <div class="segmented-control">
                    <div id="latest" class="item-1 item" style="cursor: pointer;">
                        <div class="text-1-1 valign-text-middle small-text">최신순</div>
                    </div>
                    <div id="popularity" class="item" style="cursor: pointer;">
                        <div class="text-1-1 valign-text-middle small-text">인기순</div>
                    </div>
                </div>
            </div>

            <!-- 에러 메시지 -->
            <div id="errorContainer" style="display:none;"></div>

            <div id="feed" class="feed">
                <!-- 리뷰 추가 -->
            </div>

            <!-- 페이지네이션 -->
            <div id="pagination"></div>

        </div>
    </div>
</body>

</html>