<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1440, maximum-scale=1.0" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments/navbar.css}" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/reviews/review-write.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fragments/navbar.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleguide.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/globals.css}" />
    <script th:src="@{/js/reviews-write.js}" defer></script>

</head>

<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="review-write" />
    <div class="container-center-horizontal">
        <div class="review-write screen">

            <!-- nav -->
            <div th:replace="~{fragments/navbar}"></div>

            <!-- 리뷰 작성 폼 -->
            <div class="form">
                <form onsubmit="submitForm(event)">

                    <div class="profile">
                        <div class="avatar"><img id="profileImgPath" class="rectangle-1" alt="Image"
                                th:src="${session.profileImgPath}" />
                        </div>
                        <div class="frame-2610465">
                            <div id="author" class="text-123 small-text" th:text="${session.username}">유저 닉네임</div>

                            <div id="currentDate" class="date presetsbody2">2024-01-01</div>
                        </div>
                    </div>

                    <div class="input">
                        <div class="text-124 small-text">책 제목</div>
                        <div class="field" style="background-color: #f2f2f2;">
                            <input type="hidden" id="currentTitle" th:value="${title}">
                            <div id="title" class="label presetsbody2" th:text="${title}">미움받을 용기</div>
                        </div>
                    </div>

                    <div class="x04-multi-line-paragraph-input small-text">
                        <div class="text-125">내용</div>
                        <div class="field-1">
                            <textarea type="text" id="reviewContent" name="reviewContent" class="label-1"
                                style="height:100%; border:none" placeholder="리뷰를 작성하세요."></textarea>
                        </div>
                    </div>

                    <div style="width:100%; margin-top: 10px;">
                        <a th:href="@{/books/detail/{title}(title=${title})}" class="button-3">
                            <div class="text-126 valign-text-middle small-text">이전으로</div>
                        </a>
                        <button type="submit" class="button-1">
                            <div class="text-126 valign-text-middle small-text">작성 완료</div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>