<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=1440, maximum-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png"/>
    <meta name="og:type" content="website"/>
    <meta name="twitter:card" content="photo"/>
    <link
            rel="stylesheet"
            type="text/css"
            href="/css/reviews/review-write.css"
            th:href="@{/css/reviews/review-write.css}"
    />
    <link th:href="@{/css/fragments/navbar.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/styleguide.css" th:href="@{/css/styleguide.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/globals.css" th:href="@{/css/globals.css}"/>
</head>
<body style="margin: 0; background: #ffffff">
<input
        type="hidden"
        id="anPageName"
        name="page"
        value="review-write"
/>
<div class="container-center-horizontal">
    <div
            class="review-write screen"
    >
        <div th:replace="fragments/navbar"></div>

        <div class="form">
            <div class="profile">
                <div class="avatar"><img class="rectangle-1" src="/img/rectangle-1.png" alt="Rectangle 1"/></div>
                <div class="frame-2610465">
                    <div class="text-123 small-text">유저 닉네임</div>
                    <div class="date presetsbody2">2024-01-01</div>
                </div>
            </div>
            <div class="input">
                <div class="text-124 small-text">책 제목</div>
                <div class="field" style="background-color: #f2f2f2;">
                    <div class="label presetsbody2" th:text="${title}">미움받을 용기</div>
                </div>
            </div>
            <div class="x04-multi-line-paragraph-input small-text">
                <div class="text-125">내용</div>
                <div class="field-1">
                    <textarea type="text" id="reviewContent" name="reviewContent" class="label-1"
                              style="height:100%; border:none" placeholder="리뷰를 작성하세요."></textarea>
                </div>
            </div>

            <div style="width:100%;">

                <a th:href="@{/reviews/list/{keyword}(keyword=${title})}" class="button-3">
                    <div class="text-126 valign-text-middle small-text">이전으로</div>
                </a>

                <a th:href="@{/reviews/write}" class="button-1">
                    <div class="text-126 valign-text-middle small-text">작성 완료</div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
