<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=1442, maximum-scale=1.0" />
  <meta name="og:type" content="website" />
  <meta name="twitter:card" content="photo" />
  <link th:href="@{/css/fragments/navbar.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/css/fragments/modal.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/css/mypage/mypageMenu.css}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/info.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/styleguide.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/globals.css}" />
  <script th:src="@{/js/user-info.js}" defer></script>
</head>

<body style="margin: 0; background: #ffffff">
  <input type="hidden" id="anPageName" name="page" value="info" />
  <div class="container-center-horizontal">
    <div class="info screen">

      <div class="overlap-group1">
        <!-- nav -->
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="text-12 inter-semi-bold-black-24px">마이페이지</div>

        <input type="hidden" th:value="${session.currentUser}">
      </div>
      <!-- mypageMenu -->
      <div th:replace="fragments/mypageMenu :: mypageMenu"></div>

      <div class="text-25 inter-semi-bold-black-24px">회원정보</div>
      <div class="table">
        <div class="column">
          <div class="head-1 head-3">
            <div class="frame-521">
              <div class="text-9 presetsbody2">프로필</div>
            </div>
          </div>
          <div class="head-1 head-3">
            <div class="frame-521">
              <div class="text-10 presetsbody2">닉네임</div>
            </div>
          </div>
          <div class="head-1 head-3">
            <div class="frame-521">
              <div class="text-28 presetsbody2">이메일</div>
            </div>
          </div>
          <div class="head-1 head-3">
            <div class="frame-521">
              <div class="text-10 presetsbody2">비밀번호</div>
            </div>
          </div>
          <div class="head-1 head-3">
            <div class="frame-521">
              <div class="text-9 presetsbody2">가입유형</div>
            </div>
          </div>
          <div class="head-1 head-3">
            <div class="frame-521">
              <div class="text-10 presetsbody2">가입날짜</div>
            </div>
          </div>
        </div>
        <div class="column-1 column-3">
          <div id="profileImgPath" class="head-1 head-3"><img class="image-3" src="/img/rectangle-1.png" alt="Image" />
          </div>
          <div class="head-1 head-3">
            <div id="nickname" class="text-32 manrope-normal-mirage-16px">유저1</div>
          </div>
          <div class="head-1 head-3">
            <div id="email" class="user1gmailcom manrope-normal-mirage-16px">user1@gmail.com</div>
          </div>
          <div class="head-1 head-3">
            <div class="text-33 manrope-normal-mirage-16px">********</div>
          </div>
          <div class="head-1 head-3">
            <div id="signUpType" class="text-34 manrope-normal-mirage-16px">구글</div>
          </div>
          <div class="head-1 head-3">
            <div id="signUpDate" class="date-1 date-3 manrope-normal-mirage-16px">2024-01-01</div>
          </div>
        </div>
        <div class="column-2 column-3">
          <div class="head-2 head-3">
            <div class="light-button" onclick="modifyUserInfo('profileImgPath')">
              <div class="text-5 valign-text-middle manrope-normal-storm-gray-16px">변경</div>
            </div>
          </div>
          <div class="head-2 head-3">
            <div class="light-button" onclick="modifyUserInfo('nickname')">
              <div class="text-5 valign-text-middle manrope-normal-storm-gray-16px">변경</div>
            </div>
          </div>
          <div class="head-2 head-3"></div>
          <div class="head-2 head-3">
            <div class="light-button" onclick="modifyUserInfo('password')">
              <div class="text-5 valign-text-middle manrope-normal-storm-gray-16px">변경</div>
            </div>
          </div>
          <div class="head-2 head-3"></div>
          <div class="head-2 head-3">

            <div id="withdraw" class="light-button-3 light-button-4" style="cursor: pointer;" onclick="withdrawal()">
              <div class="text-6 valign-text-middle presetsbody2">탈퇴</div>
            </div>
          </div>
        </div>
      </div>

      <!-- 모달 표시 -->
      <div id="editModal" style="display: none;"></div>

      <!-- 세션 아이디 -->
      <input type="hidden" id="userId" th:value="${session.id}">
</body>

</html>