<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=1440, maximum-scale=1.0" />
  <link rel="shortcut icon" type="image/png" th:href="@{/home/favicon.png}" />
  <meta name="og:type" content="website" />
  <meta name="twitter:card" content="photo" />
  <link th:href="@{/css/fragments/navbar.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/css/mypage/mypageMenu.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/css/mypage/reviews-my.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/css/styleguide.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/css/globals.css}" rel="stylesheet" type="text/css" />
  <script th:src="@{/js/pagination.js}" defer></script>
  <script th:src="@{/js/mypage-my.js}" defer></script>
</head>

<body style="margin: 0; background: #ffffff">
  <input type="hidden" id="anPageName" name="page" value="reviews-my" />
  <div class="container-center-horizontal">
    <div class="reviews-my screen">

      <div class="overlap-group2">
        <div th:replace="fragments/navbar :: navbar"></div>
        <h1 class="text-62 inter-semi-bold-black-24px">마이페이지</h1>

      </div>

      <div class="flex-row">
        <a th:href="@{/mypage/info}">
          <img class="avatar" src="/img/avatar.svg" alt="Avatar" />
        </a>
        <div class="overlap-group1">
          <a th:href="@{/mypage/reviews/my}">
            <img class="icon" src="/img/-icon.svg" alt="Icon" />
          </a>
        </div>
      </div>
      <div class="text-container small-text">
        <div class="text-6">회원정보</div>
        <div class="text-6">리뷰보기</div>
      </div>

      <div class="flex-row-1">
        <div class="text-91 manrope-bold-mirage-24px">리뷰보기</div>
        <div class="search">
          <img class="search-1" src="/img/search.svg" alt="search" />
          <div class="label presetsbody2">Search</div>
        </div>
        <div class="segmented-control">
          <div class="item-1 item">
            <div class="text-65 valign-text-middle small-text">내가쓴</div>
          </div>
          <div class="item-3 item">
            <div class="text-66 valign-text-middle small-text">좋아요한</div>
          </div>
        </div>
      </div>
      <div class="overlap-group">
        <div class="table">
          <div class="column">
            <div class="head">
              <div class="text-67 inter-semi-bold-storm-gray-14px">글번호</div>
            </div>
            <div class="content-column" id="content-column-number">
            </div>
            <!-- 글번호 -->
          </div>
          <div class="column-1 column-4">
            <div class="head">
              <div class="head-title inter-semi-bold-storm-gray-14px">책 제목</div>
            </div>
            <div class="content-column" id="content-column-title">
            </div>
            <!-- 책 제목 -->
          </div>
          <div class="column-2 column-4">
            <div class="head">
              <div class="text-67 inter-semi-bold-storm-gray-14px">작성일</div>
            </div>
            <div class="content-column" id="content-column-date">
            </div>
            <!-- 작성일 -->
          </div>
          <div class="column-2 column-4">
            <div class="head">
              <div class="text-67 inter-semi-bold-storm-gray-14px">-</div>
            </div>
            <div class="content-column" id="content-column-action">
            </div>
          </div>
          <!-- 수정 버튼 -->
        </div>

         <!-- 에러 메시지 -->
         <div id="errorContainer" style="display:none;"></div>

        <!-- 페이지네이션 -->
        <div id="pagination"></div>

      </div>
    </div>
  </div>
</body>

</html>