/* screen - list */

.list {
  align-items: center;
  background-color: var(--basewhite);
  display: flex;
  flex-direction: column;
  height: 1075px;
  width: 1442px;
}

.list .navigation {
  align-items: center;
  background-color: var(--basewhite);
  display: flex;
  gap: 726px;
  height: 164px;
  margin-right: 2.0px;
  padding: 0 80px;
  width: 1440px;
}

.list .text-101 {
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 2.0px;
  margin-left: 10px;
  min-width: 67px;
  white-space: nowrap;
}

.list .text-9 {
  color: var(--black);
  font-weight: 500;
  line-height: 30px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.list .text-98 {
  -webkit-text-stroke: 1px var(--black);
  color: var(--black);
  font-weight: 500;
  line-height: 30px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.list .text-100 {
  color: var(--basewhite);
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.list .x04-search-input {
  align-items: center;
  background-color: var(--basewhite);
  border: 1px solid;
  border-color: var(--bon-jour);
  border-radius: 8px;
  display: flex;
  gap: 12px;
  margin-left: 1.0px;
  padding: 8px 16px 8px 12px;
  position: relative;
  width: 689px;
}

.list .search {
  height: 24px;
  position: relative;
  width: 24px;
}

.list .label {
  width: 498px;
}

.list .group-11 {
  align-items: center;
  display: flex;
  margin-left: 3.0px;
  margin-top: 30px;
  width: 689px;
}

.list .text-114 {
  letter-spacing: 0;
  line-height: 26.4px;
  margin-top: 2.0px;
  width: 173px;
}

.list .x04-dropdown {
  align-items: center;
  background-color: var(--basewhite);
  border: 1px solid;
  border-color: var(--bon-jour);
  border-radius: 8px;
  display: flex;
  gap: 16px;
  height: 40px;
  margin-left: 102px;
  padding: 8px 16px;
  position: relative;
  width: 250px;
}

.list .label-1 {
  flex: 1;
}

.list .chevron-down {
  height: 24px;
  position: relative;
  width: 24px;
}

.list .segmented-control {
  align-items: flex-start;
   background-color: var(--black-haze);
   border-radius: 8px;
   display: inline-flex;
   margin-left: 9px;
   padding: 4px;
   position: relative;
}

.list .item-1 {
  background-color: var(--basewhite);
  box-shadow: 0px 1px 2px #0000000d;
}

.list .item {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  height: 32px;
  padding: 0px 12px;
  position: relative;
}

.list .text-1-1 {
  color: var(--black);
  font-weight: 500;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}


.list .text-11 {
  color: var(--black);
  font-weight: 500;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.list .feed {
  align-items: flex-end;
  display: inline-flex;
  flex-direction: column;
  height: 1753px;

}

.list .review {
  align-items: flex-start;
  background-color: var(--basewhite);
  border-radius: 4px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 26px;
  padding: 16px;
  position: relative;
  width: 670px;
}

.list .top {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 15px;
  position: relative;
  width: 100%;
}

.list .image {
   height: 40px;
   object-fit: cover;
   position: relative;
   width: 40px;
   border-radius: 1000px;

}




.list .name {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 100%;
}

.list .first-last {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.list .username {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 15.6px;
  margin-top: 8px;
  position: relative;
}

.list .component-13 {
  flex: 0 0 auto;
  position: relative;
  width: 124px;
}

.list .container-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: 100%;
  margin-left: 30px;
}

.list .paragraph {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 100%;
}

.list .text-3 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  align-self: stretch;
  display: -webkit-box;
  height: 88px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.list .dropdown {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
  width: 100%;
}

.list .text-4 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  width: fit-content;
}

.list .date {
  align-self: stretch;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.list .icons {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
  width: 100%;
  margin-left:30px;
}

.list .frame-2610462-1 {
  align-items: center;
  display: flex;
  gap: 8px;
  position: relative;
  width: 403px;
}

.list .heart {
  height: 24px;
  position: relative;
  width: 24px;
}

.list .address {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--black);
  display: -webkit-box;
  font-weight: 500;
  line-height: 24px;
  margin-top: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.list .head {
  align-items: center;
  align-self: stretch;
  background-color: var(--basewhite);
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 16px 8px;
  position: relative;
  width: 108px;
}

.list .light-button-1 {
  background-color: var(--neutral--100);
  margin-left: -1.00px;
  margin-right: -1.00px;
}

.list .text-5 {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.list .light-button-2 {
  background-color: #991b1b;
  margin-left: -1.00px;
  margin-right: -1.00px;
}

.list .text-6 {
  color: var(--basewhite);
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.list .divider {
  align-self: stretch;
  background-color: var(--bon-jour);
  height: 1px;
  position: relative;
  width: 100%;
}

.list .frame-2610462 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.list .review-1 {
  align-items: flex-start;
  background-color: var(--basewhite);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: 329px;
  padding: 16px;
  position: relative;
  width: 691px;
}

.list .divider-2 {
  align-self: stretch;
  background-color: var(--bon-jour);
  height: 1px;
  margin-bottom: -16.00px;
  position: relative;
  width: 100%;
}

.list .paragraph-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.list .top-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;

  gap: 15px;
  position: relative;
  width: 100%;
}


