<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1442, maximum-scale=1.0" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/sign-in.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleguide.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/globals.css}" />
</head>

<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="sign-in" />
    <div class="container-center-horizontal">
        <div class="sign-in screen">
            <div class="x1">
                <h1 class="text-1">로그인</h1>

                <div class="overlap-group1">
                    <!-- 로그인 폼 -->
                    <form action="/user/login" method="post">
                        <input type="hidden" name="redirectURL" th:value="${param.redirectURL}" />
                        <div class="button-primary-with-icon">
                            <div class="frame-1">
                                <input type="email" id="email" name="email"
                                    class="button-name valign-text-middle regular16px"
                                    style="border:none; width: 390px;" placeholder="이메일을 입력해 주세요">
                            </div>
                        </div>
                        <div class="button-primary-with-icon-1 button-primary-with-icon-3">
                            <div class="frame-1">
                                <input type="password" id="password" name="password"
                                    class="button-name valign-text-middle regular16px"
                                    style="border:none; width: 390px;" placeholder="비밀번호를 입력해 주세요">
                            </div>
                        </div>

                        <!-- 오류 메시지 -->
                        <div th:if="${error}">
                            <div id="errorContainer" class="text-8 valign-text-middle regular13px" th:text="${error}">
                            </div>
                        </div>
                        
                        <button type="submit" class="light-button" style="cursor: pointer;">
                            <div class="text-6 valign-text-middle presetsbody2">로그인</div>
                        </button>
                    </form>

                    <div class="overlap-group">
                        <div class="button-primary-with-icon-2 button-primary-with-icon-3">
                            <div class="frame-1">
                                <div class="button-name-1 valign-text-middle bold16px">Google 계정으로 로그인</div>
                            </div>
                        </div>
                        <img class="google-2" src="/img/google-2-1@2x.png" alt="google 2" />
                    </div>

                    <div class="text-5 valign-text-middle regular13px">
                        <span>
                            <span class="span0 regular13px">계정이 없으신가요? </span>
                            <a th:href="@{/user/join}">
                                <span class="span1 bold13px">회원가입</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>