<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1440, maximum-scale=1.0">
    <meta name="og:type" content="website">
    <meta name="twitter:card" content="photo">
    <title>북토크</title>

    <link th:href="@{/css/fragments/modal.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/styleguide.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/globals.css}" rel="stylesheet" type="text/css" />

</head>

<body style="margin: 0; background: #ffffff">
    <div th:fragment="modal">

        <div id="modal" class="modal">
            <div class="modal-1 modal-2">
                <div class="content-2 content-3">
                    <div class="text-and-supporting-text">
                        <div class="text-17 text-lgmedium">
                            <!-- 필드 값 저장 -->
                            <input type="hidden" id="fieldValue" th:value="${fieldValue}">
                            <span th:text="${field}">닉네임</span> 변경
                        </div>
                        <div class="form">
                            <div class="form-item form-2">
                                <div class="input-field input-4">
                                    <div class="input">
                                        <div class="input">
                                            <div class="label-1 label-5 text-smmedium">
                                                현재 <span th:text="${field}">닉네임</span>
                                            </div>
                                            <!-- 닉네임 수정시 -->
                                            <input th:if="${fieldValue == 'nickname'}" type="text" id="currentValue"
                                                class="text-8 presetsbody2 input-3 input-4">

                                            <!-- 비밀번호 수정시 -->
                                            <input th:if="${fieldValue == 'password'}" type="password" id="currentValue"
                                                class="text-8 presetsbody2 input-3 input-4">

                                            <div class="content-1 content-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-item form-2">
                                <div class="input-field input-4">
                                    <div class="input">
                                        <div class="input">
                                            <div class="label-2 label-5 text-smmedium">
                                                변경할 <span th:text="${field}">닉네임</span>
                                            </div>
                                            <!-- 닉네임 수정시 -->
                                            <input th:if="${fieldValue == 'nickname'}" type="text" id="newValue"
                                                class="text-8 presetsbody2 input-3 input-4">

                                            <!-- 비밀번호 수정시 -->
                                            <input th:if="${fieldValue == 'password'}" type="password" id="newValue"
                                                class="text-8 presetsbody2 input-3 input-4">
                                                
                                            <div class="content-1 content-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-actions modal-2">
                    <div class="button-base" style="cursor: pointer;" onclick="cancelModal()">
                        <div class="text-18 small-text">취소</div>
                    </div>
                    <div class="button-base-1" style="cursor: pointer;" onclick="confirmEdit()">
                        <div class="text-2 small-text">수정</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>