<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1442, maximum-scale=1.0" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/mypage/mypageMenu.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleguide.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/globals.css}" />
</head>

<body>

    <div th:fragment="mypageMenu">

        <div class="flex-row">
            <a th:href="@{/mypage/info}">
                <img class="avatar" src="/img/mypage-info.svg" alt="Avatar" />
            </a>

                <a th:href="@{/mypage/reviews/my}">
            <div class="overlap-group">
                    <img class="icon" src="/img/mypage-record.svg" alt="Icon" />
            </div>
                </a>
        </div>
        <div class="text-container small-text">

            <div class="text-1-1">회원정보</div>
            <div class="text-1-1">리뷰보기</div>
        </div>
    </div>
</body>

</html>