<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=1440, maximum-scale=1.0" />
  <meta name="og:type" content="website" />
  <meta name="twitter:card" content="photo" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/fragments/navbar.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/styleguide.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/globals.css}" />
</head>

<body>
  <div th:fragment="navbar">
    <div class="navigation">
      <div class="text-152 valign-text-middle inter-semi-bold-black-24px"><a th:href="@{/}" class="nav-link">북토크</a>
      </div>
      <div class="items">

        <div class="nav-text valign-text-middle body-text">
          <a th:href="@{/books/search}" class="nav-link">도서검색</a>
        </div>
        <div class="nav-text valign-text-middle body-text">
          <a th:href="@{/reviews/list}" class="nav-link">리뷰목록</a>
        </div>
        <div class="nav-text valign-text-middle body-text">
          <a th:href="@{/mypage/info}" class="nav-link">마이페이지</a>
        </div>

        <div th:if="${session.userId == null}">
          <a th:href="@{/user/login}">
            <div class="button">
              <input id="session-userId" type="hidden">
              <input id="session-username" type="hidden">
              <div class="nav-button-text valign-text-middle small-text">로그인</div>
            </div>
          </a>
        </div>

        <div th:if="${session.userId != null}">
          <input id="session-userId" type="hidden" th:value="${session.userId}">
          <input id="session-username" type="hidden" th:value="${session.username}">
          <a th:href="@{/user/logout}" onclick="logout()">
            <div class="button">
              <div class="nav-button-text valign-text-middle small-text">로그아웃</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <script>
    function logout() {
      sessionStorage.clear();
    }
  </script>
</body>

</html>