<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReviewLikes">
    <insert id="save" parameterType="ReviewLikes" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO likes(userId, reviewId)
        VALUES (#{userId}, #{reviewId})
    </insert>

    <select id="findLikedReviewsByUserId" resultType="ReviewDTO">
        SELECT r.title, r.author, DATE_FORMAT(r.date, '%Y-%m-%d') AS "date"
        FROM reviews r
        JOIN likes l ON r.id = l.reviewId AND l.userId = #{userId}
        ORDER BY r.id DESC
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset};
    </select>

    <select id="countLikedReviews" resultType="int">
        SELECT COUNT(*) FROM likes WHERE userId = #{userId};
    </select>

    <select id="findByUserIdAndReviewId" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM likes WHERE userId = #{userId} AND reviewId = #{reviewId}
    </select>

    <delete id="delete" parameterType="map">
        DELETE FROM likes WHERE userId = #{userId} AND reviewId = #{reviewId}
    </delete>

    <delete id="deleteReview" parameterType="Long">
        DELETE FROM likes WHERE reviewId = #{reviewId}
    </delete>

</mapper>